In [1]:
name = 'akhil verma'
x= 10
y= 20
z= 45

In [2]:
del name

## operators
- arithmetic operators
- assignment operators
- comparision operators 
- logical operators 
- identify operators
- membership operators

In [3]:
x = 3 
y = 2
c = 4

In [11]:
print(x+y)
print(x**y)
print(x*y)
print(x/y)
print(c//y)
print(x%y)

5
9
6
1.5
2
1

In [3]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)   # float division
print(x//y)  # integer division
print(x%y)   # reminder
print(x ** y) # exponentiation (power)

30
-10
200
0.5
0
10
100000000000000000000

In [4]:
a = x + y
a += 1
a -= 1
a *= 2
a /= 5
print(a)

12.0

In [5]:
#comparision operation
print( x > y)
print( x < y)
print( x >= y)
print( x <= y)
print( x == y)
print( x != y)

False
True
False
True
False
True

In [6]:
# and , or ,not
x < y or y < 10

True

In [7]:
not x > y

True

In [10]:
fruits = [ 'apple', 'banana','cherry']
print ('apple' in fruits)
print('pomgranet' in fruits)
print('Apple' in fruits)

True
False
False

In [11]:
f = [ 'apple', 'banana','cherry']

In [15]:
fruits == f # value equality

True

In [16]:
fruits is f # refrence equality (memory address)

True

In [17]:
x = 10
y= 10 
# dont check is operator with integer 
print(x == y)
print(x is y)

True
True

I/O

In [13]:
name = input("enter ur name: ")

In [14]:
print(name)

AKHIL

In [22]:
city = input ("enter ur city")
age = input (" enter ur age ")
print( name , city , age)

AKHIL lucknow 23

In [23]:
x = 10
print (type(x))
# covert x to float 
x = float (x) 
# covert x to float and assign it to x
print(x, type (x))
# covert x to string
x= str(x)
print(x, type(x))
# covert into boolean
x = bool(x)
print(x, type(x))
x = str(x)
print(x, type(x))
# x = int(x)  # ye nahin hoga
print(x, type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>
True <class 'str'>

In [24]:
x = int(input('enter a number for A:'))
y = int(input('enter a number for B:'))
print(x + y)

66

In [26]:
print(name,age,city,sep='\n')

AKHIL
23
lucknow

In [27]:
print(x)
print(y)

10
56

In [29]:
print(x, end=' ')
print(y)

10 56

In [30]:
'i live in city'

'i live in city'

In [31]:
f'i live in {city}'

'i live in lucknow'

In [32]:
f'i live in city'

'i live in city'

In [33]:
print(f'x={x}, y={y}')
print(f'x**y =>{x**y}')
print(f'x + y => {x+y}')

x=10, y=56
x**y =>100000000000000000000000000000000000000000000000000000000
x + y => 66

In [ ]:
print(f'Name: {name:20}')
print()