### list
- indexed, ordered , mutable , allows duplicate elements , heterogeneous , '[ ]' , 'list( )' 
#### tuple 
- indexed , ordered , **imutable** , allows duplicate elements , hetrerogeneous , '( )' , 'tuple( )'
#### set 
- **unordered** , mutable , **does not alllow duplicate elements** , heterogeneous , '{ }' , 'set( )'
#### dictionary
- **unordered** , mutable , **does not allow duplicate keys** , heterogeneous , key:value pairs , '{ }' , 'dict( )'

#### list
- creating
- indexing and slicing
- methods (11 methods)
- lists comprehension

In [1]:
x = [1,2,3,4,5]
names = ['john', 'paul', 'george', 'ringo']
mix = [1, 'john', 3.14,True]
nested = [[1,2,3],[4,5,6],[7,8,9]]
mt =[]
cloned = [1,2,3] * 5 #repeat list 5 times 
words = 'this is sparta' .split()
chars = list('alexender')

In [3]:
print(x[0])
print(x[-1])
x[0] = 100 #updating value at index 0

100
5

In [7]:
chars[5:]

['n', 'd', 'e', 'r']

In [9]:
chars[:5]

['a', 'l', 'e', 'x', 'e']

In [8]:
chars[:-5]

['a', 'l', 'e', 'x']

In [6]:
chars[::-1]

['r', 'e', 'd', 'n', 'e', 'x', 'e', 'l', 'a']

###adding 
 -append() - addds an eleemt to the end of the list
 -extend() - adds all elements of one list to another lists 
 -insert() - adds an element at a specific index
###removing  
 -remove() - 
 -pop()
 -clear()
###utility
 -count()
 -index()
 -sort()
 -reverse()
 -copy()

In [10]:
x.append(6)
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 3]

In [11]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 11, 12, 13]

In [12]:
x.insert(5, 100)
x.insert(6, 500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 11, 12, 13]

WRITE A PROGRAM TO TAKE 10 VALUES FROM USERS AND FILL IN THE LIST

In [14]:
udata = []
for i in range(0,10):
    x = input ('enter 10 values ')
    udata.append(x)
print(udata)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11']

In [15]:
if 'Five' in udata:
    udata.remove('Five')
print(udata)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11']

In [16]:
udata.remove('nine') if 'nine' in udata else print('nine not found')

nine not found

In [18]:
x = [1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [19]:
udata.clear()
print(udata)

[]

In [20]:
del x

In [21]:
a = [1,2,3,1,1,2,2,2,2,1,1,1]
a.count(1)

6

In [22]:
names.sort()
print(names)

['george', 'john', 'paul', 'ringo']

In [ ]:
#write a program to create a fibonacci series 
# of 10 numbers and store it in a list
# [0,1,1,2,3,5,8,13,21,34]

In [26]:

a = 0
b = 1
list = []
list.append(a)
list.append(b)
for i in range(0,8):
 c =a+b
 list.append(c)
 a = b
 b = c
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
x = [0,1]
for i in range (10):
    x.append( x[-2] + x[-1])
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [2]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [5]:
names={'peter parker','bruce wayne','clark kent'}
fnames = []
for nm in names:
    fnames.append(nm.split()[0])
print(fnames)

['bruce', 'clark', 'peter']

wap a list of ten number make a new list even numbers check in x list and fill new list with even numbers

In [8]:
x = [1,2,3,4,5,6,7,8,9,10]
x2 = []
for i in x:
    if i%2==0:
        x2.append(i)
print(x2)

[2, 4, 6, 8, 10]

newlist = [expression for item in iterable if condition == true]

In [9]:
x2 = [i **2 for i in x]
print(x2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
lnames = [nm.split()[-1] for nm in names ]
print(lnames)

['wayne', 'kent', 'parker']

In [13]:
x =[1,2,3,4,5,6,8,9,10,12]
xevens = [i for i in x if i % 2 ==0]
print(xevens)

[2, 4, 6, 8, 10, 12]

In [1]:
#filter 
x = ['1','2','3','4','','5','','6']
x_clean =[int(i)for i in x if i.isnumeric()]
print(x_clean)

[1, 2, 3, 4, 5, 6]

In [12]:
files = ['1.jpg','3.png','2.jpg','4.tif','5.jpg','10.png']
jpg_files = [file for file in files if file.endswith('.jpg')]
png_files = [file for file in files if file.endswith('.png')]
print(jpg_files)
print(png_files)

['1.jpg', '2.jpg', '5.jpg']
['3.png', '10.png']

In [13]:
jpg_files =[]
for file in files:
    if file.endswith('jpg'):
        jpg_files.append(file)
print(jpg_files)

['1.jpg', '2.jpg', '5.jpg']

In [15]:
y = [1,2,3,4,5,1,2,3,4,5,6,1,2,2,3,3,4,4,5,7,3,3,6,6,7,3,2,1,3,5]
# take all odd number -> get there cube->put it in list
xodds = [i**3 for i in y if i%2!=0]
print(xodds)

[1, 27, 125, 1, 27, 125, 1, 27, 27, 125, 343, 27, 27, 343, 27, 1, 27, 125]

In [19]:
raju = [56,90,34,34,56]
raju_dict = {
    'English' : 56,
    'Hindi' : 90,
    'Maths' : 34,
    'chemistry': 34,
    'evs': 56
}
print(raju_dict)

{'English': 56, 'Hindi': 90, 'Maths': 34, 'chemistry': 34, 'evs': 56}

In [20]:
company ={
    'emp001':{
        'name': "Amar Kumar",
        'designation': 'Assistant III',
        'salary': 32000,
    },
    'emp002':{
        'name': 'Ranu Singh',
        'designation ': 'staff officer',
        'salary': 890000
    },
    'total_temp': 2,
    'department':'accounts',
    'vacancy': ['clerk','manager','assistant I']
}

In [23]:
company['name'] = 'acme inc.' #adding a key and a value to dict
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation ': 'staff officer', 'salary': 890000}, 'total_temp': 2, 'department': 'accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'acme inc.'}

In [27]:
company ['total_emp'] = 3
company['emp003'] = {
    'name':'ajay verma',
    'designation': 'clerk',
    'slary':45000
}

In [25]:
company

{'emp001': {'name': 'Amar Kumar',
  'designation': 'Assistant III',
  'salary': 32000},
 'emp002': {'name': 'Ranu Singh',
  'designation ': 'staff officer',
  'salary': 890000},
 'total_temp': 2,
 'department': 'accounts',
 'vacancy': ['clerk', 'manager', 'assistant I'],
 'name': 'acme inc.',
 'total_emp': 3,
 'emp003': {'name': 'ajay verma', 'designation': 'clerk', 'slary': 45000}}

In [2]:
# company['emp004]
company.get('website')

NameError: name 'company' is not defined

In [1]:
if 'website' in company:
    print('website exists in dict')

NameError: name 'company' is not defined

In [33]:
print(company.keys())
print(company.values())
print(company.items())

dict_keys(['emp001', 'emp002', 'total_temp', 'department', 'vacancy', 'name', 'total_emp', 'emp003'])
dict_values([{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, {'name': 'Ranu Singh', 'designation ': 'staff officer', 'salary': 890000}, 2, 'accounts', ['clerk', 'manager', 'assistant I'], 'acme inc.', 3, {'name': 'ajay verma', 'designation': 'clerk', 'slary': 45000}])
dict_items([('emp001', {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}), ('emp002', {'name': 'Ranu Singh', 'designation ': 'staff officer', 'salary': 890000}), ('total_temp', 2), ('department', 'accounts'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', 'acme inc.'), ('total_emp', 3), ('emp003', {'name': 'ajay verma', 'designation': 'clerk', 'slary': 45000})])

In [36]:
for i in raju_dict:
  print(i)

English
Hindi
Maths
chemistry
evs

In [37]:
for i in company:
    print(i)

emp001
emp002
total_temp
department
vacancy
name
total_emp
emp003

In [40]:
for i in company:
    print(company[i],end='')

{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}{'name': 'Ranu Singh', 'designation ': 'staff officer', 'salary': 890000}2accounts['clerk', 'manager', 'assistant I']acme inc.3{'name': 'ajay verma', 'designation': 'clerk', 'slary': 45000}

In [43]:
for k,v in company.items():
    print(k,v)

emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}
emp002 {'name': 'Ranu Singh', 'designation ': 'staff officer', 'salary': 890000}
total_temp 2
department accounts
vacancy ['clerk', 'manager', 'assistant I']
name acme inc.
total_emp 3
emp003 {'name': 'ajay verma', 'designation': 'clerk', 'slary': 45000}

In [44]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key, value in v.items():
            print("-->",key,value)
    else:
        print(k,v)

emp001
--> name Amar Kumar
--> designation Assistant III
--> salary 32000
emp002
--> name Ranu Singh
--> designation  staff officer
--> salary 890000
total_temp 2
department accounts
vacancy ['clerk', 'manager', 'assistant I']
name acme inc.
total_emp 3
emp003
--> name ajay verma
--> designation clerk
--> slary 45000

wap to create dict.  which takes user inputs and stores the name of item and its price

In [46]:
dict = {}
while True:
    input("items")

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 3 were given