FOR for temp_var in iterable: statement 1 ...

statement n
... iterables are string,list,tuple,set,dict,generators, etc

In [1]:
nums = [1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i)

1
23
5
6
3
6
21
6
6

- ENUMERATE
- ZIP

In [2]:
names = ['John', 'Jane', 'Jack', 'Jill']
for name in enumerate(names): #index bhi print krega
    print(name)

(0, 'John')
(1, 'Jane')
(2, 'Jack')
(3, 'Jill')

In [3]:
for idx,  name in enumerate(names): #index bhi print krega
    print(name, idx)

John 0
Jane 1
Jack 2
Jill 3

In [4]:
x = [2,3,6,8,10]
y = [1,3,5,7,9]
#ek se zada iterables ko iterate krana
for i,j in zip(x,y):
    print(i*j)

2
9
30
56
90

In [5]:
z = [3,6,9,12,15]
for i,j,k in zip(x,y,z):
    print(i*j+k)

5
15
39
68
105

In [6]:
movies = ['Interstellar', 'The Martian', 'Gravity', 'Apollo 13']
rating = [8.6,8.0,7.7,7.6]
for name,star in zip(movies, rating):
    print(f'{name:20}{star}‚≠ê')

Interstellar        8.6‚≠ê
The Martian         8.0‚≠ê
Gravity             7.7‚≠ê
Apollo 13           7.6‚≠ê

In [2]:
x = [1,2,2,3,2,2,1,2,2,3,0,4,5,1,2,4,5]
for i in x:
    if i == 0:
        break
    print(i, end='')

1223221223

In [3]:
x = [1,2,2,3,2,0,2,1,2,2,3,4,5,1,2,4,5]
for i in x:
    if i == 0:
        break
    print(i, end='')

12232

In [4]:
for i in x:
    if i == 0:
        break
    print(i, end ='')
else:
    print('loop completed')

12232

In [6]:
x = [1,2,2,3,2,2,1,2,2,3,4,5,1,2,4,5]
for i in x:
    if i == 0:
        break
    print(i, end='')
else:
    print('loop completed')

1223221223451245loop completed

In [7]:
num = 7
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else:
    print('prime')

prime

In [8]:
num = int(input('enter a number: '))
for i in range(2, num):
    print(f'{num} % {i} = {num % i}')
    if num % i == 0:
        print('not prime')
        break
else:
    print('prime')

45 % 2 = 1
45 % 3 = 0
not prime

In [9]:
x = [1,2,3,None,5,1,None,2,3,None,3,2,1,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num, end=' ')

1 2 3 5 1 2 3 3 2 1 2 3 3

In [10]:
for num in x:
    if num is not None:
        print(num, end=' ')

1 2 3 5 1 2 3 3 2 1 2 3 3

#sum  ek function h to uske naam se variable nhin banega

In [13]:
odd_sum = 0
for num in x:
    if num is not None and num % 2 !=0:
        odd_sum += num
print(odd_sum)

28

INFINITE LOOP

In [17]:
while True:
    user = input('üê±‚Äçüë§ enter username:')
    password = input ('üôå enter password')
    if user == 'admin':
        if password == 'secret':
            print('welcome admin')
            break
        else:
            print('wrong password')
    else:
        print('wrong username')

wrong username
wrong username
wrong username
welcome admin