- creation
- indexing and slicing 
- methods

In [6]:
s = "hello"
s1 = 'world'
msg = '''this is a message
with multiple lines'''
w = 'ha ' * 10
print(w)
a = 100
b = str(a)
print(b, type(b))

ha ha ha ha ha ha ha ha ha ha
100 <class 'str'>

In [5]:
data = open ('t4.py').read()
print(data)

from turtle import *


speed ('fastest')
pensize(2)
bgcolor('black')
pencolor('green')
colors=['red','green','yellow','pink','black','white']
side = 3
for i in range(side):
    fd(100)
    for i in range(side):
        fd(100)
        lt(360/side)
        begin_fill()
        fillcolor(colors[i%6])
        for i in range(side):
            fd(50)
            lt(360/side)
        end_fill()
    lt(360/side)
hideturtle()
mainloop()

In [7]:
s

'hello'

In [8]:
s[0]

'h'

In [11]:
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print([-1])  #last char
print([-2])   #second last char

h
e
l
l
o
[-1]
[-2]

In [12]:
name = 'William Shakespeare'

In [13]:
name [8:-6]

'Shake'

In [14]:
name[0:4]

'Will'

In [15]:
name[3:7]

'liam'

In [21]:
name[-5:-1]

'pear'

In [23]:
a = name[8:-6]
print(a)
b = name[:4] #0 omitted if slicing is from start
print(b)
c = name[8:] #last index can be omitted if slicely is till end
print(c)
d = name[:]
print(d)
e = name[::2] #step
print(e)
f = name[::-1] #reverse
print(f)
g = name[1::2]
print(g)

Shake
Will
Shakespeare
William Shakespeare
WlimSaepae
eraepsekahS mailliW
ila hkser

In [24]:
len(name)

19

- methods
    - utility method
       - count
       -find
       - replace 
       - split
       - join
       - strip
    - formatting method 
       -  capitalize
       - title 
       - upper
       - lower
       - swapcase
       - casefold
    - validation method
       - isalnum
       - isalpha
       - isdigit
       - islower
       - isupper
       - istitle
       - isspace

In [28]:
msg = '''this is a story about  a kingdom of south india lead by the hoyasala dynasty. '''

print(msg.count('a'))
print(msg.count('out'))
print(msg.count('the'))

9
2
1

In [30]:
total_vowels = msg.count('a') + msg.count('i') + msg.count('o') + msg.count('e') + msg.count('u')
print(total_vowels)

24

In [31]:
tvs = 0
for c in 'aeiou':
    tvs += msg.count(c)
print(tvs)

24

In [32]:
for c in 'aeiou':
    print(c)

a
e
i
o
u

In [34]:
msg.find('story')

10

In [40]:
msg.find('out' , 19)

37

In [37]:
msg.replace('a','b')

'this is b story bbout  b kingdom of south indib lebd by the hoybsblb dynbsty. '

In [41]:
msg.replace('out','in')

'this is a story abin  a kingdom of sinh india lead by the hoyasala dynasty. '

In [42]:
msg.replace('a','') # remove all a's by

'this is  story bout   kingdom of south indi led by the hoysl dynsty. '

In [50]:
msg_copy = msg
for c in 'aeiou':
    msg_copy = msg.replace(c,' ')
print(msg)
print(msg_copy)

this is a story about  a kingdom of south india lead by the hoyasala dynasty.
this is a story abo t  a kingdom of so th india lead by the hoyasala dynasty.